<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <style>
        .left-content a:hover {
            color: #a7d139!important;
        }
    </style>

</head>
<body>
<div class="best-features">
    <div class="container" style="max-width: 984px;width: 100%; margin-right: auto;background-color: #a7d139;margin-left: auto; height: 690px; border-radius: 0px 0px 10px 10px;">
        <div class="row">
            <div class="col-md-12" style=" width: 100%;margin: auto;">
                <div class="right-image" style="box-sizing: border-box;">
                    <img style="width: 983px;" src="https://i.ibb.co/6mb8bBN/bg.png">
                </div>
            </div>
            <div class="col-md-12" style="">
                <div class="middle-content" style="text-align:center;">
                    <h4 style=" font-size: 22px;font-family: monospace;font-style: normal;color: #ffffff;" >hello {{ fullName }}</h4>
                </div>
                <div class="left-content" style="text-align:center;">
                    <p style ="font-weight: BOLD;color: #a7d139;margin: auto;font-size: 18px;padding-top: 16px;margin-bottom: 23px;font-family: ui-monospace;height: 60px;background-color: #121c2a;"> To activate your SECURINETS Account. <br> please verify your email address.
                        Your account will not be created until your email address is confirmed.</p>
                     <button id="btn" style="height: 42px;background-color: #121c2a; border-radius: 5px;border: 1px solid white;width: 9%;">
                         <a style="color:white; display:contents;"class="filled-button" href="http://localhost:3000/confirmation/{{ token }}">Verify</a>
                     </button>
                </div>
            </div>
        </div>
        <footer>
            <div class="container" style="margin: auto;margin-top: 11px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-content" style="padding-top: 16px;padding-bottom: 16px;background: #121c2a;color: white;">
                            <p style="width: 26%;margin: auto;">Copyright &copy; 2022 Securinets ESPRIT.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>


</body>
</html>



